[submodule "components/wifi_manager"]
	path = components/wifi_manager
	url = https://github.com/esp32-components/wifi_manager
[submodule "components/config_manager"]
	path = components/config_manager
	url = https://github.com/esp32-components/config_manager
[submodule "components/time_manager"]
	path = components/time_manager
	url = https://github.com/esp32-components/time_manager
[submodule "components/http_manager"]
	path = components/http_manager
	url = https://github.com/esp32-components/http_manager
[submodule "components/syslog_manager"]
	path = components/syslog_manager
	url = https://github.com/esp32-components/syslog_manager
[submodule "components/coredump_manager"]
	path = components/coredump_manager
	url = https://github.com/esp32-components/coredump_manager.git
